<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>note book project</title>
</head>

    <nav class="sticky-top">

        <ul class="nav nav-tabs justify-content-center h1 mt-3 pt-1 " id="navBarTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="book-list-tab" href="/">Books List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="newbook-tab" href="/new">Add new book</a>
            </li>
        </ul>
    </nav>
     



    
<body>

   